{% extends "layout.html" %}
	{% block content %}
		<div>
			<div class="media">
				<div class="media-body">
					<h2 class="account-heading">{{ current_user.username }}</h2>
					<p class="text-secondary"><font color="red">{{ current_user.email }}</font></p>
					<img class="rounded-circle account-img" src="{{ image_file }}" alt="No image">
				</div>
			</div>
			<!--FORM HERE-->
			<form method="POST" action="" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb 4">Account Info</legend>
					<div class="form-group">
						{{ form.username.label(class="form-control-label") }}
						
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.picture.label() }}
						{{ form.picture(class="form-control-file") }}
						{% if form.picture.errors %}
							{% for error in form.picture.errors %}
								<span class="text-danger">{{ error }}</span><br/>
							{% endfor %}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}<br/>
				</div>
				{% if current_user.sign_in_as == "Admin"%}
					<h3><a href="{{ url_for('admin.index')}}">Back To Home</a></h3>
					<hr/>
				{% elif current_user.sign_in_as == "Wholesaler" %}
					<h3><a href="{{ url_for('customer')}}">Back To DashBoard</a></h3>
					<hr/>
				{% else %}
					<h3><a href="{{ url_for('farm')}}">Back To DashBoard</a></h3>
					<hr/>
				{% endif %}
			</form>
		</div>
	{% endblock content%}