{% extends "layout.html" %}
{% block content %}
		<div>
			<h1><font color="white">Select a product to view</font></h1>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<div class="form-group">
						{{ form.query.label(class="form-control-label") }}
						
						{% if form.query.errors %}
							{{ form.query(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.query.errors %}
									<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.query(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>
		<br/>
		<hr/>
		{% if current_user.sign_in_as == "Farmer"%}
			<h3><a href="{{ url_for('farm')}}">Back To DashBoard</a></h3>
		{% else %}
			<h3><a href="{{ url_for('customer')}}">Back To DashBoard</a></h3>
		{% endif %}
	{% endblock content%}